/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--main-font, "Inter-Variable", sans-serif);
  background-color: lightgray;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--accent-text-weight, 700);
}

.header {
  margin: 104px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--main-gap, 50px);
  margin-block-end: var(--main-gap, 50px);
  max-inline-size: 696px;
}

.header__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  border: 2px solid var(--Themes-mainColor, #000);
  /*padding: 128px 120.5px;*/
  padding-inline: clamp(0.875rem, -6.901rem + 33.1776vw, 7.53125rem);
  padding-block: clamp(7.5rem, 6.9159rem + 2.4922vw, 8rem);
  font-family: var(--accent-font, "PressStart2P-Regular", fantasy);
  text-transform: uppercase;
  background-color: #fff;
}

.header__title {
  font-weight: 400;
  font-size: clamp(3.0625rem, 1.8943rem + 4.9844vw, 4.0625rem);
}

.header__text {
  font-size: clamp(0.875rem, 0.2179rem + 2.8037vw, 1.4375rem);
}

.card {
  position: relative;
  border: 2px solid var(--Themes-mainColor, #000);
  background-color: #fff;
}

.card__title {
  padding: 5px 10px;
  font-weight: 700;
  font-size: 18px;
}

.card__img-block {
  position: relative;
}

.card__img-watermark {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  color: #000;
  font-family: var(--accent-font, "PressStart2P-Regular", fantasy);
  font-size: 14px;
  text-transform: uppercase;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--Themes-background, #fff);
  mix-blend-mode: hard-light;
}

.card__img {
  width: 100%;
  object-fit: cover;
  object-position: right;
  aspect-ratio: 1 / 1;
}

.card__box {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
  font-size: 18px;
  line-height: 21px;
}

.card__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  margin: 0 25px 25px 0;
}

.button {
  background-color: #fff;
}

.like-icon {
  border: none;
}

.card__like-button {
  padding: 9px 17px;
  font-family: var(--accent-font, "PressStart2P-Regular", fantasy);
  font-size: 14px;
  line-height: 90%;
}

.floppy {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-block-end: 105px;
  border: 2px solid var(--Themes-mainColor, #000);
  padding: 15px 19px;
  background-color: #fff;
}

.floppy__img {
  block-size: var(--floppy-size, 21px);
  inline-size: var(--floppy-size, 21px);
}

.floppy__text {
  font-family: var(--accent-font, "PressStart2P-Regular", fantasy);
  font-size: 14px;
  line-height: 90%;
}

@media (width <= 375px) {
  .floppy {
    flex-direction: column;
  }
}
